.SideBar {
  position: absolute;
  top: 0;
  right: 0;
  background: #d6336c;
  height: 100%;
  width: 300px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.125), 0 10px 10px rgba(0, 0, 0, 0.11); }
  .SideBar .Menus {
    display: flex;
    flex-direction: column; }
    .SideBar .Menus .MenuItem {
      padding: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
      color: white;
      user-select: none;
      cursor: pointer; }
      .SideBar .Menus .MenuItem:hover {
        background: #e64980; }
      .SideBar .Menus .MenuItem:active {
        background: #d6336c; }
    .SideBar .Menus .MenuItem + .MenuItem {
      border-top: 1px solid #dee2e6; }

