.ButtonWrapper {
    width: 1024px;
    margin: 0 auto;
    margin-top: 3rem;
    @media (max-width: 1024px) {
        width: 90%;
    }

    .Contents {
        display: flex;
        
        .Button {
            text-align: center;
            background: #845ef7;
            font-weight: 700;
            font-size: 1.5rem;
            color: white;
            padding: 2rem;
            margin: 1rem;
            flex: 1;
        }

        
    }
}
